<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("0ef9fd6f-c56c-43c6-bf90-2a2be049058f");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
