<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("d1d81eac-e92f-49d7-b31d-e01374eeaf36");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
